/* Reset CSS básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;


    font-size: 16px;
    line-height: 1.5;
    color: #333;

    
}

/*TEXTOS E IMAGENES*/
a {
    color: #007BFF;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
    height: auto;
}

div{
    align-self: center;
}

/* BOTON*/

button {
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;

    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;


    font-size: 16px;
    line-height: 1.5;
    color: #333;
}
/* button:hover {
    background-color: #0056b3;
} */

/*CENTRADO DE ELEMENTOS*/
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-div {
    width: 300px; /* Ajusta según tus necesidades */
    height: 200px; /* Ajusta según tus necesidades */

}




/*PARA CODIGO JS*/
#boton{
    display: block;
}
/* #contenedorLetra{
    display: none; 
} */

